<div>
  <h2>Modificar Empleado</h2>
  <form action="" >
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-user"></i>
      </span>
      <input pInputText placeholder="Nombre" formControlName="nombre">
    </div>
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-user"></i>
      </span>
      <input pInputText placeholder="Apellido" formControlName="apellido" />
    </div>
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-user"></i>
      </span>
      <input pInputText placeholder="Documento" formControlName="nroDocumento"/>
    </div>
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-user"></i>
      </span>
      <input pInputText placeholder="Email" formControlName="Email"/>
    </div>
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-user"></i>
      </span>
      <input pInputText placeholder="Fecha de ingreso Ej:2005-05-28" formControlName="fechaIngreso"/>
    </div>
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-user"></i>
      </span>
      <input pInputText placeholder="Fecha de Nac. Ej:1998-05-28" formControlName="fechaNacimiento"/>
    </div>
    <button type="submit">Guardar</button>
  </form>
</div>
